<div class="container text-center" id="footer">
    Created By: <a href="https://github.com/JCCALL/verbose-octo-train" class="fa fa-github"> Verbose-Octo-Train </a>
    <p>Verbose-Octo-Train is:  Lisa Campbell, Joshua Duncan, Jordan Call, Shianne Taylor, Drew Congino</p>
    <br>
    <br>
</div>