<head>
    <link rel="stylesheet" media="screen" href="particles/css/style.css">
</head>

<!-- particles.js container -->
<div id="particles-js"></div>

<div class="login container text-center col-12 col-md-8 col-lg-6 px-3">
    <div class="title">StreamLine</div>
    <div class="subtitle">Sit on your ass. Find your shows fast.</div>
    <div class="mx-auto">
        <input class="input" type="text" placeholder="Username" name="username" required>
        <br>
        <input class="input" type="password" placeholder="Password" name="psw" required>
        <br>
        <input class="input" type="password" placeholder="Confirm Password" name="psw-repeat" required>
        <br>
        <label>
            <button type="button" class="btn btn-primary">Log In</button>
            <button type="button" class="btn btn-primary">Sign Up</button>
    </div>
</div>

<script src="particles/particles.js"></script>
<script src="particles/particles_app.js"></script>