<div class="container">
    <h1>Log In</h1>
    <hr>
    <form action="#">
    <label for="username"><b>Username:</b></label>
    <br>
    <input type="text" placeholder="Username" name="username" required>
    <br>
    <label for="psw"><b>Password:</b></label>
    <br>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br>
    <input type="checkbox" onclick="showPassword()">Show Password
    <label>
    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px">Remember me</label>
    <p>By creating an account you agree to our <a href="#"style="color:dodgerblue">Terms & Privacy</a>.</p>
    <button type="button" class="btn btn-primary">Log In Now</button>
    </form>
    <a herf="/new">New User Click Here</a>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>