<head>
    <link rel="stylesheet" media="screen" href="particles/css/style.css">
</head>

<!-- particles.js container -->
<div id="particles-js">

<div class="login container text-center col-12 col-md-8 col-lg-6 px-3">
    <div class="title">StreamLine</div>
    <div class="subtitle">Sit on your ass. Find your shows fast.</div>
    
    <div class="lead pt-3">Goodbye!</div>
     <hr>
    <div class="lead pb-3">Thank you for using Streamline</div>

    <a href="/login" class="text-white"><button type="submit" class="btn btn-primary">Log In Again</button></a>
</div>
</div>
<script src="particles/particles.js"></script>
<script src="particles/particles_app.js"></script>