<head>
    <link rel="stylesheet" media="screen" href="particles/css/style.css">
</head>

<!-- particles.js container -->
<div id="particles-js">

<div class="login container text-center col-12 col-md-8 col-lg-6 px-3">
    <div class="title">StreamLine</div>
    <div class="subtitle">Sit on your ass. Find your shows fast.</div>
    
    <hr>
    <div class="subtitle">You are Logged Out</div>
    <div class="subtitle">Thank you for using Streamline</div>
    <div>To Log Back In <a href="/login" class="text-white">Click Here!</a></div>
</div>
</div>
<script src="particles/particles.js"></script>
<script src="particles/particles_app.js"></script>