.list-group-item {
  line-height: 2.5;
}

body {
  background: url("../images/film_overlay.png");
  background-color: rgb(26, 26, 26);
  font-family: 'Raleway', sans-serif;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-container {
  margin-bottom: 40px;
}

/* 
Not necessary if using film_overlay.png
.overlay {
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%; 
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */


/* The Tabs CSS */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: rgb(247, 254, 255);
  color: black;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 17px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Search bar */
.search-bar {
    border: none;
    margin-bottom: 50px;
    text-align: center;
}

.search {
    width: 30%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

.btn-primary {
    background-color: rgb(104, 140, 161);
    border: none;
}

.btn-primary:hover {
    background-color: rgb(49, 98, 126);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(104, 140, 161);
  /* background-color: #ccc; */
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
  color: black;
  margin-bottom: 40px;
}
.show-content {
    display: block;
}
#headTitle{
  position: relative;
}
#headLogin{
  position: absolute;
  right: 14px;
  top: 14px;
}
.tic-tac {
    padding: 20px;
}
.steps {
    padding: 20px;
}
.step-1, .step-3 {
    border-right: 1px solid lightgray;
}
.step-1, .step-2 {
    border-bottom: 1px solid lightgray;
}

.step-icon {
    font-size: 50px;
    padding-bottom: 10px;
    color: rgb(104, 140, 161);
}

/* Modal CSS */
button:hover {
  opacity:1;
}

.modal {
  background-color: #474e5d;
  color: black;
}

/* Movie results  */
.bg-overlay {
    /* background: rgba(0, 0, 0, 0.5);
    width: 100%; 
    height: 100%;
    position: absolute; */
}

.movie-title {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 8px;
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.location-icon {
    width: 100px;
    background-color: rgba(247, 254, 255, 0.9);
    padding: 0 5px 0 5px;
    border-radius: 4px;
    margin: 5px 0px 5px 0px;
}

.location-list {

}

.movie-view {
    justify-content: space-between;
    margin: auto;
}

.movie-list {
    color: black;
    background-color: rgba(247, 254, 255);
    width: 48%;
    margin-top: 30px;
    padding: 0 0 20px 0;
    background-size: cover;
}

.streaming-list {
    float: left;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}
.rent-or-buy-list {
    float: right;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}
.watch-details-buttons {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.watch-button, .details-button {
    margin: 0 5px 0 5px;
}

#footer {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header */
.heading {
    text-align: center;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat Subrayada', sans-serif;
    background: -webkit-linear-gradient(-90deg,rgb(148, 203, 214),rgb(255, 255, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    font-size: 70px;
}

/* Header line animation */
.line-animate {
    border-top: 3px solid white;
    position: absolute;
    top: 112px;
    animation-name: lines;
    animation-duration: 2s;
    animation-delay: .3s;
} 

  @keyframes lines {
    0%   {width: 0%; left: 0;}
    33%  {width: 100%; left: 0;}
    66%  {width: 100%; right: 0;}
    100% {width: 0%; right: 0;}
  }

/* changing image animation */
.image-animate {
    background-color: black;
    background-image: url("https://ae01.alicdn.com/kf/H100652e33735449f878c3ba450ad1756J/60x84cm-Marvel-Comic-Spider-Man-Super-hero-Spiderman-Movie-Posters-Cartoon-Canvas-Painting-By-numbers-poster.jpg");
    height: 530px;
    background-size: cover;
    background-position: center;
    animation-name: pictures;
    animation-delay: 2s;
    animation-duration: 15s;
    animation-iteration-count: infinite;
} 
@keyframes pictures {
    0%   {background-image: url("https://ae01.alicdn.com/kf/H100652e33735449f878c3ba450ad1756J/60x84cm-Marvel-Comic-Spider-Man-Super-hero-Spiderman-Movie-Posters-Cartoon-Canvas-Painting-By-numbers-poster.jpg");}
    20%  {background-image: url("https://m.media-amazon.com/images/M/MV5BOTVjMmFiMDUtOWQ4My00YzhmLWE3MzEtODM1NDFjMWEwZTRkXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SY1000_CR0,0,674,1000_AL_.jpg");}
    40%  {background-image: url("https://m.media-amazon.com/images/M/MV5BYzE5MjY1ZDgtMTkyNC00MTMyLThhMjAtZGI5OTE1NzFlZGJjXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SY1000_CR0,0,666,1000_AL_.jpg");}
    60%  {background-image: url("https://m.media-amazon.com/images/M/MV5BMGUwZjliMTAtNzAxZi00MWNiLWE2NzgtZGUxMGQxZjhhNDRiXkEyXkFqcGdeQXVyNjU1NzU3MzE@._V1_SY1000_SX675_AL_.jpg");}
    80%  {background-image: url("https://m.media-amazon.com/images/M/MV5BMjAwNDA5NzEwM15BMl5BanBnXkFtZTgwMTA1MDUyNDE@._V1_SY1000_CR0,0,674,1000_AL_.jpg");}
    100% {background-image: url("https://ae01.alicdn.com/kf/H100652e33735449f878c3ba450ad1756J/60x84cm-Marvel-Comic-Spider-Man-Super-hero-Spiderman-Movie-Posters-Cartoon-Canvas-Painting-By-numbers-poster.jpg");}
  }

  @media screen and (max-width: 500px) {
    .title {
      font-size: 40px;
    }
    .search {
        width: 70%;
        margin-bottom: 30px;
    }
    .login {
        font-size: 10px;
    }
    .line-animate {
        border-top: 2px solid white;
        top: 84px;
    }
    .movie-list {
        width: 100%;
    }
  }

  @media screen and (min-width: 992px) {
    .image-animate {
        height: 700px;
    }
  }
  @media screen and (max-width: 768px) {
    .image-animate {
        height: 700px;
    }
  }
